doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Exo')
        link(rel='stylesheet', href='/app/css/bundleMain.min.css')
        link(rel='stylesheet', href='/app/css/bundleOther.min.css')
    body.admin
        script(src="/app/js/other.min.js")
        script(src="/app/js/main.min.js")
        .navbar.navbar-cosmo
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-warning-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/admin') Администратор
                .navbar-collapse.collapse.navbar-warning-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                | Бумага
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/admin/typepappers') Тип бумаги
                                li
                                    a(href='/admin/grammpappers') Граммаж бумаги
                                li
                                    a(href='/admin/sizepappers') Размер бумаги
                        li
                            a(href="/admin/users") Пользователи
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/") Выход
        block content