doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet', href='/app/css/bundleMain.min.css')
    link(rel='stylesheet', href='/app/css/bundleOther.min.css')
  body
    script(src="/app/js/other.min.js")
    script(src="/app/js/main.min.js")
    block content