if (msg)
    .alert.alert-dismissible.alert-success
        button.close(type='button', data-dismiss='alert') ×
        strong Отлично!
        |  Сохранено!
        a.alert-link(href='javascript:void(0)') Пользователь обновлен!
        | .