.navbar.navbar-cosmo{
    background-color: #3d3780;
}
.btn-cosmo{
    background-color: #3d3780 !important;
    color: #ffffff !important;
}
table tr{
    cursor: pointer;
}
table tr :hover{
    color: #ffffff !important;
    background-color: #3d3780;
}
table td i{
    float: right;
}
table td i:hover{
    text-shadow:0 0 20px #f1ffed;
}