@media print {
    /* здесь будут стили для печати */
    .main { overflow: hidden!important;}
    .noPrint {
        display: none;
    }

    .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        border: 1px solid black !important;
    }
    .wrapperPrint{
        display: block !important;
    }
    a[href]:after {
        content: "";
    }
}
