body,html {
  padding: 0;
  margin: 0 0;
  font: 14px Exo, Helvetica, Arial, sans-serif !important;
}
.main-managers{
    background-color: #ebeff5 !important;
}
a {
  color: #00B7FF;
}
span{
    color: #2a2a2a !important;
}
/*.panel-heading span{*/
    /*font-size: 20px;*/
/*}*/
.panel {
    margin-bottom: 0 !important;
}
/*.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{*/
    /*border: 2px solid black !important;*/
/*}*/
.form-control, .form-group .form-control{
    background-image:linear-gradient(#009688,#009688),linear-gradient(black,black) !important;
}
.select2-container--default .select2-selection--multiple{
    border: 1px solid black !important;
}
.fileText{
    width: 100%;
}
input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
}
/*input[type="radio"]{*/
    /*border: 1px solid black;*/
/*}*/

/*no result found select2*/
.select2-hidden {
    display:none !important;
}
/*.border-label{*/
    /*padding-right: 5px;*/
    /*border-right: 1px solid black;*/
/*}*/
.form-group label.control-label:not('.not-weight'){
    font-weight: bold !important;
    font-size: 16px !important;
}
.form-group .checkbox label, .form-group .radio label, .form-group label{
    color: black !important;
}
.local-chat{
  min-height: 200px !important;
  width: 300px !important;
}
.table-hover{
  cursor: pointer !important;
}
table .form-group{
  margin: 0;
  padding: 0;
}
.navbar-white{
  color: #2a2a2a !important;
  font-weight: 500 !important;
  background-color: white !important;
}
.navbar-white .active>a, .navbar-white .active>a:focus, .navbar-white .active>a:hover{
  background-color: hsl(19, 6%, 90%) !important;
}
/*.panel{*/
  /*border-radius: 10px !important;*/
/*}*/
/*.panel-heading{*/
  /*border-top-left-radius: 10px !important;*/
  /*border-top-right-radius: 10px !important;*/
/*}*/
.panel-footer{

}
.panel.panel-cosmic .panel-heading{
  background-color: #3d3780 !important;
}
.panel-white h3{
  font-size: 26px;
  padding: 5px;
  font-family: Exo;
  font-weight: 500 !important;
  color: #2a2a2a !important;
}
.panel.panel-white .panel-heading{
  background-color: white !important;
  border-bottom: 1px solid #efefef;
}

.btn-cosmic{
  background: linear-gradient(90deg,#00d9bf,#00d977) !important;
}
.global-chat{
  height: calc(100vh - 240px);
  overflow-y: scroll;
}
.h2Title{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #cacaca;
}
/*.passports-data{*/
  /*height: 242px;*/
  /*overflow-y: scroll;*/
/*}*/
.one-str:not(:last-child){
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 5px;
}
.one-str{
  padding:15px !important;
}
.btn-send-local{
  padding: 15px;
}
.local-chat{
  height: 586px;
  overflow-y: scroll;
}
.signature{
  display: block;
  margin: 0 auto;
}
.btn-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-right h3{
  margin-right: auto;
}
#сustomerNumberButton{
  margin-top: 30px;
}
.customerGroup{
    float: left;
}
.addSelect{
    width: 270px;
}
.customerGroup{
    margin-right: 20px;
    margin-bottom: 20px;
}
.car-container{
    width: auto;
    float: left;
}
.btn-customer{
    margin: 0 !important;
    padding: 0 !important;
}
.ready-btn{
    border-top: 1px solid #efefef;
}
/*menu and static*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    border: 2px solid #40dc7e;
    background-color: transparent !important;
    color: #2a2a2a !important;
    font-weight: 600 !important;
}
.menu-wrap{
    width: 200px;
    padding-left: 20px;
}
.menu a, a:focus{
    font-weight: 600 !important;
    background-color: transparent !important;
    color: #494949 !important;
}
.menu.admin a, a:focus{
    font-weight: 600 !important;
    background-color: transparent !important;
    color: #494949 !important;
}
.menu  a:hover{
    color: #2a2a2a !important;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
.wrap {
    padding-top: 20px;
}
.header{
    z-index: 1;
    width: 100%;
    height: 60px;
}
.navbar-white{
    border-bottom: 1px solid #cacaca !important;
}
.content{
    display: flex;
    min-height: calc( 100vh - 60px );
}
.menu{
    padding-top: 20px;
    width: 220px;
    background-color: white;
    flex-shrink: 0;
    border-right: 1px solid #cacaca;
}

.chat{
    width: 450px;
    background-color: white;
}
.wrapperPrint{
    display: none;
}
.main{
    padding-top: 12px;
    width: 100%;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}
/*Ширина таблицы с машинами*/
.car-tabel{
    width: 400px!important;
}

/*Кнопки выбора значений*/
.box{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.textBox{
    float: left;
}
.textBoxD{
    float: left;
}
.textBoxType{
    float: left;
}
.textBoxSize{
    float: left;
}
.textBoxGramm{
    float: left;
}
.boxD{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.box:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.boxD:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBox{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxD{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxType{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxSize{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxGramm{
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBox:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxD:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxType:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxSize:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.childrenBoxGramm:hover{
    background-color: #dfdfdf;
    padding: 9px;
    border: 1px solid #666;
    float: left;
    cursor: pointer;
}
.carBox{
    min-width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
}
.carBoxD{
    min-width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
}
.carBoxType{
    min-width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
}
.carBoxSize{
    min-width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
}
.carBoxGramm{
    min-width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #666;
}
.resultBox{
    display: inline-block;
}
.resultBoxD{
    display: inline-block;
}
.resultBoxType{
    display: inline-block;
}
.resultBoxSize{
    display: inline-block;
}
.resultBoxgramm{
    display: inline-block;
}
/*Кнопки выбора значений*/

/*prepress*/
.wrap-prepress{
    background-color: white;
    padding: 50px;
}
/*prepress*/

/*Кнопка Success*/
.btn-success-green{
    padding: 15px !important;
    color: white !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(90deg,#40dcb2,#40dc7e) !important;
    box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98 !important;
    text-shadow: none !important;
    border: none !important;
    line-height: calc(1.25rem + 4px) !important;
    border-radius: 5px !important;
}

.btn-success-green:active, .btn-success-green:focus, .btn-success-green:hover{
    border-image: linear-gradient(90deg,#37bd99,#37bd6c) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: normal !important;
}
/*Кнопка Primary*/
.btn-primary-purple{
    padding: 15px !important;
    color: white !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(90deg,#9b6ddb,#776ddb) !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border: none !important;
    line-height: calc(1.25rem + 4px) !important;
    border-radius: 5px !important;
}

.btn-primary-purple:active, .btn-primary-purple:focus, .btn-primary-purple:hover{
    border-image: linear-gradient(90deg,#9b6ddb,#776ddb) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: normal !important;
}
/*Кнопка Warning*/
.btn-warning-yellow{
    padding: 15px !important;
    color: white !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(90deg,#dbaf00,#db8a00) !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border: none !important;
    line-height: calc(1.25rem + 4px) !important;
    border-radius: 5px !important;
}

.btn-warning-yellow:active, .btn-warning-yellow:focus, .btn-warning-yellow:hover{
    border-image: linear-gradient(90deg,#dbaf00,#db8a00) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: normal !important;
}
/*Кнопка Info*/
.btn-info-blue{
    padding: 15px !important;
    color: white !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(90deg,#41a8db,#418fdb) !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border: none !important;
    line-height: calc(1.25rem + 4px) !important;
    border-radius: 5px !important;
}

.btn-info-blue:active, .btn-info-blue:focus, .btn-info-blue:hover{
    border-image: linear-gradient(90deg,#41a8db,#418fdb) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: normal !important;
}
