extends ../layout

block content
    .container-fluid
        .row
            .col-md-12
                .panel.panel-white
                    .panel-heading
                        span Заказ № 1 от #{moment(new Date()).format("DD.MM")}
                    .panel-body
                        .container-fluid
                            //.row
                            //    .col-md-6
                            //        .table-responsive
                            //            table.table.table-bordered.table-condensed
                            //                tr
                            //                    th Заказ
                            //                    th От
                            //                    th Сдать на
                            //                    th Время
                            //                tr
                            //                    td 1
                            //                    td=moment(new Date()).format("DD.MM")
                            //                    td
                            //                        input.form-control(type="date")
                            //                    td
                            //
                            .row
                                .col-md-6
                                    .form-group
                                        .col-md-4
                                            label.control-label Сдать на
                                        .col-md-8
                                            input.form-control(type="date")
                                .col-md-6
                                    .form-group
                                        .col-md-4
                                            .checkbox
                                                label
                                                    input(type="checkbox", id="timeCheck")
                                                | Время
                                        .col-md-8
                                            input.form-control(type="time", disabled, id="timeInput")
                            .row
                                .col-md-6
                                    .form-group
                                        label.control-label.col-md-4 Контактное лицо
                                        .col-md-8
                                            input.form-control(type="text", id="contact")
                                .col-md-6
                                    .form-group
                                        label.control-label.col-md-4 Телефон
                                        .col-md-8
                                            input.form-control(type="tel", id="phone", placeholder="+7(xxx) xxx-xx-xx")
                            .row
                                .col-md-12
                                    .form-group
                                        .col-md-2
                                            label.control-label Заказчик
                                            //button.btn.btn-customer(type="button", id="remove-customer")
                                            //    i.material-icons remove
                                            //button.btn.btn-customer(type="button", id="add-customer")
                                            //    i.material-icons add
                                        //.col-md-2.customer-container
                                        .col-md-10
                                            select.form-control.customerNumber.text(multiple)
                                                //option Заказчик 1
                                                //option Заказчик 2
                                                //option Заказчик 3
                                                //option Заказчик 4
                            .row
                                .col-md-12
                                    .form-group
                                        .col-md-2
                                            label.control-label Наименование
                                            //button.btn.btn-customer(type="button", id="remove-name")
                                            //    i.material-icons remove
                                            //button.btn.btn-customer(type="button", id="add-name")
                                            //    i.material-icons add
                                        //.col-md-2.name-container
                                        .col-md-10
                                            select.form-control.name.text(multiple="multiple")
                                                option Наименование 1
                                                option Наименование 2
                                                option Наименование 3
                                                option Наименование 4
                            .row
                                .col-md-12
                                    .form-group.circulation
                                        label.col-md-2.control-label Тираж заказчику
                                        .col-md-10
                                            select.form-control.text.mult(multiple)
                                        //.col-md-2
                                        //    input(type="text")
                                        //.col-md-2
                                        //    input(type="text")
                                        //.col-md-2
                                        //    input(type="text")
                                        //.col-md-2
                                        //    input(type="text")
                                        //.col-md-2
                                        //    input(type="text")
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label(for="select7") Размер
                                        .col-md-10
                                            select.form-control.size-paper(id="select7", multiple="multiple")
                                                option А0
                                                option А1
                                                option А2
                                                option А3
                                                option А4
                                                option А5
                                                option А6
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label(for="select8") Страница
                                        .col-md-10
                                            select.form-control.text(id="select8", multiple="multiple")
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label Красочность
                                        .col-md-10
                                            select.form-control.text(multiple="multiple")
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label Бумага
                                        .col-md-3
                                            select.form-control(id="typepapper", multiple="multiple")
                                        .col-md-3
                                            select.form-control(id="sizepapper", multiple="multiple")
                                        .col-md-3
                                            select.col-md-5.form-control(id="grammpapper", multiple="multiple")
                            .row
                                .col-md-6
                                    .form-group
                                        label.col-md-4.control-label(for="select2") Комплектующие
                                        .col-md-8
                                            select.form-control(id="select2", multiple="multiple")
                                                option Люверсы
                                                option Болты металлические
                                                option Болты пластиковые
                                                option Ригель
                                                option Курсор
                                                option Спайдеры
                                                option Держатели для воблеров
                                                option Механизмы кольца / клепки
                                                option Шнур
                                                option Уголки металлические
                                                option Скотч 2-сторонний
                                                option Скотч Тонкий
                                                option Скотч Объемный
                                .col-md-6
                                    .form-group
                                        label.col-md-2.control-label(for="select1") Отделка
                                        .col-md-10
                                            select.form-control(id="select1", multiple="multiple")
                                                option Ламинат 1+0
                                                option Ламинат 1+1
                                                option Ламинат глянцевый
                                                option Ламинат матовый
                                                option Уф-лак 1+0
                                                option Уф-лак 1+1
                                                option Уф-лак сполошной
                                                option Уф-лак выборочно
                                                option Уф-лак глянцевый
                                                option Уф-лак матовый
                                                option Обычный
                                                option Объемный
                                                option Глитеры цвет
                                                option Ириодин цвет
                                                option Переплет
                                                option Скоба
                                                option Пружина
                                                option КБС
                                                option Твердный
                                                option На нить
                                                option Листоподборка
                                                option Вкладка
                                                option Склейка
                                                option Кашировка
                                                option Фальцовка
                                                option Биговка
                                                option Перфорация
                                                option Микро
                                                option Марочная
                                                option Тиснение
                                                option Фольга
                                                option Цвет
                                                option Блинтовое
                                                option Конгрев
                                                option Высечка
                                                option Тигель
                                                option Автомат
                                                option KLUGE
                                                option Сапожок
                                                option Нумерация
                                                option Сверление
                                                option ММ
                                                option №
                            .row
                                .col-md-12
                                    .form-group
                                        label.control-label Количество машин
                                        button.btn(type="button", id="car-remove")
                                            i.material-icons remove
                                        button.btn(type="button", id="car-add")
                                            i.material-icons add
                            .row
                                .col-md-12
                                    .car-container
                                        table.table.table-bordered.table-condensed.car-tabel
                                            tr
                                                td
                                                    .row
                                                        .col-md-12
                                                            .form-group
                                                                label.col-md-5.control-label На машину
                                                                .col-md-7
                                                                    select.form-control.car-select
                                                                        option A2
                                                                        option A3
                                                    .form-group
                                                        label.col-md-5.control-label Шт.
                                                        .col-md-7
                                                            input.form-control.Sht(type="text")
                                                    .form-group
                                                        label.col-md-5.control-label На
                                                        .col-md-7
                                                            input.form-control.on(type="text")
                                                    .form-group
                                                        label.col-md-5.control-label Печ. листов
                                                        .col-md-7
                                                            input.form-control.printSheet(type="text")
                                                    .form-group
                                                        label.col-md-5.control-label Исходных листов
                                                        .col-md-7
                                                            input.form-control.allSheet(type="text")
                                            tr
                                                td
                                                    textarea(cols="30").signature
                            .row
                                .form-group
                                    label.col-md-2.control-label(for="manager") Менеджер
                                    .col-md-10
                                        select.form-control(id="manager", multiple="multiple")
                                            option Manager 1
                                            option Manager 2
                                            option Manager 3
                                            option Manager 4
                            .row
                                .form-group
                                    label.col-md-2.control-label(for="file") Адрес исходного файла
                                    .col-md-10
                                        input.form-control.fileText(type="text", readonly="", placeholder="Файл...")
                                        input(type="file", id="file", multiple="", accept="image/*,application/pdf,application/msword,application/rtf,application/rtf,text/plain,text/csv,text/xml")
                                        #fullPath
                            //.row
                            //    .form-group
                            //        label.col-md-2.control-label(for="montage") Монтаж выполнил
                            //        .col-md-10
                            //            input.form-control(id="montage", type="text")
                            .row
                                .col-md-3
                                    .form-group
                                        .radio.radio-primary.delever
                                            label.border-label
                                                input(type="radio", name="delivery", value="Самовывоз", checked)
                                                | Самовывоз
                                            label
                                                input(type="radio", name="delivery" value="Доставка")
                                                | Доставка
                                .col-md-3.type-delever
                                    .form-group
                                        .radio.radio-primary
                                            label.border-label
                                                input(type="radio", name="type-delivery", value="Автобус")
                                                | Автобус
                                            label
                                                input(type="radio", name="type-delivery" value="Наш транспорт")
                                                | Наш транспорт
                                .col-md-6
                                    //.row
                                    //    .col-md-6.bus
                                    //        .form-group
                                    //            label.col-md-6.control-label(for="departure-time") Время отправления
                                    //            .col-md-6
                                    //                input.form-control(type="time", id="departure-time")
                                    //    .col-md-6.bus
                                    //        .form-group
                                    //            label.col-md-6.control-label(for="arrival-time") Время пребытия
                                    //            .col-md-6
                                    //                input.form-control(type="time", id="arrival-time")
                                    .form-group.delivery-address
                                        label.col-md-4.control-label(for="delivery-address") Адрес доставки
                                        .col-md-8
                                            input.form-control(type="text", id="delivery-address")
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label(for="comment") Комментарий
                                        .col-md-10
                                            textarea.form-control(type="text", id="comment")
                        .ready-btn
                            button.btn.btn-primary Сохранить
                            button.btn.btn-success Отправить