extends index

block content
    form(method="POST", id="formPassport")
        .panel.panel-white
            .panel-heading
                h3.h3 Заказ от #{moment(new Date()).format("DD.MM")}
            .panel-body
                .container-fluid
                    .row
                        .col-md-6
                            .form-group
                                .col-md-4
                                    label.control-label Сдать на
                                .col-md-8
                                    input.form-control.pass-on(type="date", max="2040-04-20", required)
                        .col-md-6
                            .form-group
                                .col-md-4
                                    .checkbox
                                        label
                                            input(type="checkbox", id="timeCheck")
                                        | Время
                                .col-md-8
                                    input.form-control.time(type="time", disabled, id="timeInput", required)
                    .row
                        .col-md-6
                            .form-group.has-error
                                label.control-label.col-md-4 Контактное лицо
                                .col-md-8
                                    input.form-control.contact-person(type="text", id="contact")
                        .col-md-6
                            .form-group
                                label.control-label.col-md-4 Телефон
                                .col-md-8
                                    input.form-control.phone(type="tel", id="phone", placeholder="+7(xxx) xxx-xx-xx")
                    .row
                        .col-md-12
                            .form-group
                                .col-md-2
                                    label.control-label Заказчик
                                .col-md-10
                                    input.form-control.patter.customer(required)
                    .row
                        .col-md-12
                            .form-group
                                .col-md-2
                                    label.control-label Наименование
                                .col-md-10
                                    input.form-control.name.patter(required)
                    .row
                        .col-md-12
                            .form-group
                                label.col-md-2.control-label Тираж заказчику
                                .col-md-10
                                    input.form-control.patter.circulation(required)
                    .row
                        .col-md-12
                            .form-group
                                label.col-md-2.control-label(for="select7") Размер
                                .col-md-10
                                    select.form-control.size-paper(style="width: 100%", id="select7", multiple="multiple", required)
                                        option А0
                                        option А1
                                        option А2
                                        option А3
                                        option А4
                                        option А5
                                        option А6
                    .row
                        .col-md-12
                            .form-group
                                label.col-md-2.control-label Страниц
                                .col-md-10
                                    input.form-control.patter.page
                    .row
                        .col-md-12
                            .form-group
                                label.col-md-2.control-label Красочность
                                .col-md-10
                                    input.form-control.patter.redness(required)
                    //.row
                    //    .col-md-12
                    //        .form-group
                    //            label.col-md-2.control-label Бумага
                    //            .col-md-2
                    //                textarea.form-control.typePaper(rows="3", required)
                    //            .col-md-1
                    //                button.btn.btn-success-green.addSetType(type="button" data-toggle="modal" data-target="#modalType") Добавить
                    //                include ../modal/modalType
                    //            .col-md-2
                    //                textarea.form-control.typePaperSize(rows="3", required)
                    //            .col-md-1
                    //                button.btn.btn-success-green.addSetSize(type="button" data-toggle="modal" data-target="#modalSize") Добавить
                    //                include ../modal/modalSize
                    //            .col-md-2
                    //                textarea.form-control.typePaperGramm(rows="3", required)
                    //            .col-md-1
                    //                button.btn.btn-success-green.addSet(type="button" data-toggle="modal" data-target="#modalGramm") Добавить
                    //                include ../modal/modalGramm
                    .row
                        .col-md-6
                            .form-group
                                label.col-md-4.control-label Комплектующие
                                .col-md-6
                                    textarea.form-control.set(rows="3") Нет
                                .col-md-2
                                    button.btn.btn-success-green.addSet(type="button" data-toggle="modal" data-target="#myModal") Добавить
                                    .modal(id="myModal")
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                    h4.modal-title Список значений
                                                .modal-body.set-modal-body
                                                    .box Люверсы
                                                    .box Болты металлические
                                                    .box Болты пластиковые
                                                    .box Ригель
                                                    .box Курсор
                                                    .box Спайдеры
                                                    .box Держатели для воблеров
                                                    .box Механизмы кольца / клепки
                                                    .box Шнур
                                                    .box Уголки металлические
                                                    .box Скотч 2-сторонний
                                                    .box Скотч Тонкий
                                                    .box Скотч Объемный
                                                    button.btn.btn-primary.addBox(type='button') Добавить машину
                                                    .carBox
                                                        button.close.closeCarBox(type='button') ×
                                                        h4.modal-title Значения для машины
                                                        .resultBox
                                                .modal-footer
                                                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                                                    button.btn.btn-primary.resultButton(type='button') Применить
                        .col-md-6
                            .form-group
                                label.col-md-2.control-label Отделка
                                .col-md-6
                                    textarea.form-control.decoration(rows="3") Нет
                                .col-md-2
                                    button.btn.btn-success-green.addSetD(type="button" data-toggle="modal" data-target="#modalDecoration") Добавить
                                    .modal(id="modalDecoration")
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                    h4.modal-title Список значений
                                                .modal-body.decoration-modal
                                                    .boxD Ламинат 1+0
                                                    .boxD Ламинат 1+1
                                                    .boxD Ламинат глянцевый
                                                    .boxD Ламинат матовый
                                                    .boxD Уф-лак 1+0
                                                    .boxD Уф-лак 1+1
                                                    .boxD Уф-лак сполошной
                                                    .boxD Уф-лак выборочно
                                                    .boxD Уф-лак глянцевый
                                                    .boxD Уф-лак матовый
                                                    .boxD Обычный
                                                    .boxD Объемный
                                                    .boxD Глитеры цвет
                                                    .boxD Переплет
                                                    .boxD Скоба
                                                    .boxD Пружина
                                                    .boxD КБС
                                                    .boxD Твердный
                                                    .boxD Листоподборка
                                                    .boxD Вкладка
                                                    .boxD Склейка
                                                    .boxD Кашировка
                                                    .boxD Фальцовка
                                                    .boxD Биговка
                                                    .boxD Перфорация
                                                    .boxD Микро
                                                    .boxD Тиснение
                                                    .boxD Фольга
                                                    .boxD Цвет
                                                    .boxD Блинтовое
                                                    .boxD Конгрев
                                                    .boxD Высечка
                                                    .boxD Тигель
                                                    .boxD Автомат
                                                    .boxD Зарайский пресс
                                                    .boxD Нумерация
                                                    .boxD Сверление
                                                    button.btn.btn-primary.addBoxD(type='button') Добавить машину
                                                    .carBoxD
                                                        button.close.closeCarBoxD(type='button') ×
                                                        h4.modal-title Значения для машины
                                                        .resultBoxD
                                                .modal-footer
                                                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                                                    button.btn.btn-primary.resultButtonDecoration(type='button') Применить
                    .row
                        .col-md-12
                            .form-group
                                label.control-label Количество машин
                                button.btn(type="button", id="car-remove")
                                    i.material-icons remove
                                button.btn(type="button", id="car-add")
                                    i.material-icons add
                    .row
                        .col-md-12
                            .car-container
                                table.table.table-bordered.table-condensed.car-tabel
                                    tr
                                        td
                                            .row
                                                .col-md-12
                                                    .form-group
                                                        label.col-md-3.control-label На машину
                                                        .col-md-3
                                                            select.form-control.typePaper(style="margin-top: 10px;", required)
                                                    .form-group
                                                        .col-md-3
                                                            select.form-control.car-select(required)
                                                                option A2
                                                                option A3
                                                    .form-group
                                                        .col-md-3
                                                            input.form-control.comment-top
                                            .form-group
                                                label.col-md-5.control-label Шт.
                                                .col-md-3
                                                    input.form-control.Sht(type="text", required)
                                                .col-md-4
                                                    select.form-control.typePaperGramm(required)
                                            .form-group
                                                label.col-md-5.control-label На
                                                .col-md-3
                                                    input.form-control.on(type="text", required)
                                            .form-group
                                                .col-md-4
                                                    select.form-control.typePaperSize(required)
                                            .form-group
                                                label.col-md-5.control-label Печ. листов
                                                .col-md-7
                                                    input.form-control.printSheet(type="text", required)
                                            .form-group
                                                label.col-md-5.control-label Исходных листов
                                                .col-md-7
                                                    input.form-control.allSheet(type="text", required)
                                    tr
                                        td
                                            textarea(cols="40", style="text-align: center;").signature
                    .row
                        .form-group
                            label.col-md-2.control-label(for="manager") Менеджер
                            .col-md-10
                                select.form-control.manager(id="manager", multiple="multiple", required)
                                    option(selected)=user.name
                                input(id="managerId", hidden, value=user._id)
                    .row
                        .form-group
                            label.col-md-2.control-label(for="file") Адрес исходного файла
                            .col-md-2
                                div.checkbox
                                    label
                                        input(type="checkbox", id="noFile")
                                    |   Есть файла
                            .col-md-8
                                input.form-control.fileText(type="text", readonly="", placeholder="Файл...")
                                input(required, disabled, type="file", id="file", multiple="", accept="image/*,application/pdf,application/msword,application/rtf,application/rtf,text/plain,text/csv,text/xml")
                                #fullPath
                    .row
                        .col-md-3
                            .radio.radio-primary.delever
                                label.border-label
                                    input(type="radio", name="delivery", value="Самовывоз", checked)
                                    |Самовывоз
                                label
                                    input(type="radio", name="delivery" value="Доставка")
                                    |Доставка
                        .col-md-3.type-delever
                            .radio.radio-primary
                                label.border-label
                                    input(type="radio", name="type-delivery", value="Автобус", checked)
                                    | Автобус
                                label
                                    input(type="radio", name="type-delivery" value="Наш транспорт")
                                    | Наш транспорт
                        .col-md-6
                            .form-group.delivery-address
                                label.col-md-4.control-label(for="delivery-address") Адрес доставки
                                .col-md-8
                                    input.form-control.address(type="text", id="delivery-address")
                    .row
                        .col-md-12
                            .form-group
                                label.col-md-2.control-label(for="comment") Комментарий
                                .col-md-10
                                    textarea.form-control.comment(type="text", id="comment")
                .ready-btn
                    button.btn.btn-success-green(type="submit", id='savePassportBtn') Создать