extends ../layout

block content
    .container-fluid
        form(id="formPassport")
            .row
                .col-md-12
                    .panel.panel-white
                        .panel-heading
                            span Заказ № 1 от #{moment(new Date()).format("DD.MM")}
                        .panel-body
                            .container-fluid
                                .row
                                    .col-md-6
                                        .form-group
                                            .col-md-4
                                                label.control-label Сдать на
                                            .col-md-8
                                                input.form-control.pass-on(type="date", required)
                                    .col-md-6
                                        .form-group
                                            .col-md-4
                                                .checkbox
                                                    label
                                                        input(type="checkbox", id="timeCheck")
                                                    | Время
                                            .col-md-8
                                                input.form-control.time(type="time", disabled, id="timeInput", required)
                                .row
                                    .col-md-6
                                        .form-group
                                            label.control-label.col-md-4 Контактное лицо
                                            .col-md-8
                                                input.form-control.contact-person(type="text", id="contact", required)
                                    .col-md-6
                                        .form-group
                                            label.control-label.col-md-4 Телефон
                                            .col-md-8
                                                input.form-control.phone(type="tel", id="phone", placeholder="+7(xxx) xxx-xx-xx", required)
                                .row
                                    .col-md-12
                                        .form-group
                                            .col-md-2
                                                label.control-label Заказчик
                                            .col-md-10
                                                input.form-control.patter.customer(required)
                                .row
                                    .col-md-12
                                        .form-group
                                            .col-md-2
                                                label.control-label Наименование
                                            .col-md-10
                                                input.form-control.name.patter(required)
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label Тираж заказчику
                                            .col-md-10
                                                input.form-control.patter.circulation(required)
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label(for="select7") Размер
                                            .col-md-10
                                                select.form-control.size-paper(style="width: 100%", id="select7", multiple="multiple", required)
                                                    option А0
                                                    option А1
                                                    option А2
                                                    option А3
                                                    option А4
                                                    option А5
                                                    option А6
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label Страница
                                            .col-md-10
                                                input.form-control.patter.page(required)
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label Красочность
                                            .col-md-10
                                                input.form-control.patter.redness(required)
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label Бумага
                                            .col-md-3
                                                select.form-control.typePaper(id="typepapper", multiple="multiple", required)
                                            .col-md-3
                                                select.form-control.typePaperSize(id="sizepapper", multiple="multiple", required)
                                            .col-md-3
                                                select.col-md-5.form-control.typePaperGramm(id="grammpapper", multiple="multiple", required)
                                .row
                                    .col-md-6
                                        .form-group
                                            label.col-md-4.control-label(for="select2") Комплектующие
                                            .col-md-8
                                                select.form-control.set(id="select2", multiple="multiple", required)
                                                    option(selected) Нет
                                                    option Люверсы
                                                    option Болты металлические
                                                    option Болты пластиковые
                                                    option Ригель
                                                    option Курсор
                                                    option Спайдеры
                                                    option Держатели для воблеров
                                                    option Механизмы кольца / клепки
                                                    option Шнур
                                                    option Уголки металлические
                                                    option Скотч 2-сторонний
                                                    option Скотч Тонкий
                                                    option Скотч Объемный
                                    .col-md-6
                                        .form-group
                                            label.col-md-2.control-label(for="select1") Отделка
                                            .col-md-10
                                                select.form-control.decoration(id="select1", multiple="multiple", required)
                                                    option(selected) Нет
                                                    option Ламинат 1+0
                                                    option Ламинат 1+1
                                                    option Ламинат глянцевый
                                                    option Ламинат матовый
                                                    option Уф-лак 1+0
                                                    option Уф-лак 1+1
                                                    option Уф-лак сполошной
                                                    option Уф-лак выборочно
                                                    option Уф-лак глянцевый
                                                    option Уф-лак матовый
                                                    option Обычный
                                                    option Объемный
                                                    option Глитеры цвет
                                                    option Ириодин цвет
                                                    option Переплет
                                                    option Скоба
                                                    option Пружина
                                                    option КБС
                                                    option Твердный
                                                    option На нить
                                                    option Листоподборка
                                                    option Вкладка
                                                    option Склейка
                                                    option Кашировка
                                                    option Фальцовка
                                                    option Биговка
                                                    option Перфорация
                                                    option Микро
                                                    option Марочная
                                                    option Тиснение
                                                    option Фольга
                                                    option Цвет
                                                    option Блинтовое
                                                    option Конгрев
                                                    option Высечка
                                                    option Тигель
                                                    option Автомат
                                                    option KLUGE
                                                    option Сапожок
                                                    option Нумерация
                                                    option Сверление
                                                    option ММ
                                                    option №
                                .row
                                    .col-md-12
                                        .form-group
                                            label.control-label Количество машин
                                            button.btn(type="button", id="car-remove")
                                                i.material-icons remove
                                            button.btn(type="button", id="car-add")
                                                i.material-icons add
                                .row
                                    .col-md-12
                                        .car-container
                                            table.table.table-bordered.table-condensed.car-tabel
                                                tr
                                                    td
                                                        .row
                                                            .col-md-12
                                                                .form-group
                                                                    label.col-md-5.control-label На машину
                                                                    .col-md-7
                                                                        select.form-control.car-select(required)
                                                                            option A2
                                                                            option A3
                                                        .form-group
                                                            label.col-md-5.control-label Шт.
                                                            .col-md-7
                                                                input.form-control.Sht(type="text", required)
                                                        .form-group
                                                            label.col-md-5.control-label На
                                                            .col-md-7
                                                                input.form-control.on(type="text", required)
                                                        .form-group
                                                            label.col-md-5.control-label Печ. листов
                                                            .col-md-7
                                                                input.form-control.printSheet(type="text", required)
                                                        .form-group
                                                            label.col-md-5.control-label Исходных листов
                                                            .col-md-7
                                                                input.form-control.allSheet(type="text", required)
                                                tr
                                                    td
                                                        textarea(cols="30").signature
                                .row
                                    .form-group
                                        label.col-md-2.control-label(for="manager") Менеджер
                                        .col-md-10
                                            select.form-control.manager(id="manager", multiple="multiple", required)
                                                option Manager 1
                                                option Manager 2
                                                option Manager 3
                                                option Manager 4
                                .row
                                    .form-group
                                        label.col-md-2.control-label(for="file") Адрес исходного файла
                                        .col-md-2
                                            div.checkbox
                                                label
                                                    input(type="checkbox", id="noFile")
                                                |   Есть файла
                                        .col-md-8
                                            input.form-control.fileText(type="text", readonly="", placeholder="Файл...")
                                            input(required, disabled, type="file", id="file", multiple="", accept="image/*,application/pdf,application/msword,application/rtf,application/rtf,text/plain,text/csv,text/xml")
                                            #fullPath
                                .row
                                    .col-md-3
                                        .form-group
                                            .radio.radio-primary.delever
                                                label.border-label
                                                    input(type="radio", name="delivery", value="Самовывоз", checked)
                                                    | Самовывоз
                                                label
                                                    input(type="radio", name="delivery" value="Доставка")
                                                    | Доставка
                                    .col-md-3.type-delever
                                        .form-group
                                            .radio.radio-primary
                                                label.border-label
                                                    input(type="radio", name="type-delivery", value="Автобус", checked)
                                                    | Автобус
                                                label
                                                    input(type="radio", name="type-delivery" value="Наш транспорт")
                                                    | Наш транспорт
                                    .col-md-6
                                        .form-group.delivery-address
                                            label.col-md-4.control-label(for="delivery-address") Адрес доставки
                                            .col-md-8
                                                input.form-control.address(type="text", id="delivery-address")
                                .row
                                    .col-md-12
                                        .form-group
                                            label.col-md-2.control-label(for="comment") Комментарий
                                            .col-md-10
                                                textarea.form-control.comment(type="text", id="comment")
                            .ready-btn
                                button.btn.btn-primary(type="submit", id='savePassportBtn') Сохранить
                                button.btn.btn-success Отправить