extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Граммаж бумаги
        .panel-body.passports-data
            .row
                .col-md-12
                    form(method="POST")
                        .form-group
                            .col-md-3
                                input#gramm.form-control(type='text', placeholder='Граммаж' required)
                        button.btn.btn-info-blue.saveBtnPapper(type="submit", data-collection="grammpappers", data-field="#gramm") Сохранить
            .row
                .col-md-12
                    table.table.table-hover.table-bordered.table-condensed
                        thead
                            th Название
                        tbody
                            each item in data
                                tr
                                    td=item.name
                                        i.material-icons.removeItemId(id=item._id, data-name=item.name, data-collection="grammpappers" style="float: right;") delete_forever