.modal(id="modalType")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Список значений
            .modal-body.type-modal-body
                //select.form-control.typePaper(id="typepapper", multiple="multiple", style="width: 100%")
                    //each item in passport.typePaper
                    //    option(selected) #{item}
                button.btn.btn-primary.addBoxType(type='button') Добавить машину
                .carBoxType
                    button.close.closeCarBoxType(type='button') ×
                    h4.modal-title Значения для машины
                    .resultBoxType
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary.resultButtonType(type='button') Применить