.modal(id="modalSize")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Список значений
            .modal-body.size-modal-body
                select.form-control.typePaperSize(id="sizepapper", multiple="multiple", style="width: 100%")
                button.btn.btn-primary.addBoxSize(type='button') Добавить машину
                .carBoxSize
                    button.close.closeCarBoxSize(type='button') ×
                    h4.modal-title Значения для машины
                    .resultBoxSize
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary.resultButtonSize(type='button') Применить